# Maven
target/
*.class
*.jar

# Spring Boot
application-local.properties

# Logs
*.log

# Windows
Thumbs.db
desktop.ini

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Node / React (frontend)
node_modules/
dist/
build/
.env

# Generated outputs (backend)
poc-backend/outputs/
